.container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;

  min-width: 150px;

  font-family: var(--font-family-primary), sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.pages {
  display: flex;
  align-items: center;
}

.page {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;

  border: 1px solid transparent;
  border-radius: 1.3px;

  &:focus-visible {
    border: 1px solid var(--color-accent);
  }

  &:hover {
    background-color: var(--color-warning);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-disabled);
  }

  &.active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}

.dots {
  pointer-events: none;
  user-select: none;
}

.rowsPerPage {
  display: flex;
  gap: 7.5px;
  align-items: center;
}
