:root {
  --font-family-primary: 'Nunito';

  // line heights
  --line-height-regular: 16px;

  // font sizes
  --font-size-title: 18px;
  --font-size-text: 14px;

  // font weights
  --font-weight-regular: 600;
}
