.card {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 400px;

  .image {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    &.active {
      opacity: 0.6;
      filter: grayscale(50%);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;
    padding: 16px 16px 24px;
  }
}
